@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat:"Montserrat", sans-serif;
  --font-gothic:"Nanum Gothic", sans-serif;
  height: 100%;
}



body {
  color: var(--foreground);
  background: var(--background);
  @apply  text-base  font-montserrat
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
